<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon.png">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <title>
    iTechPro - Quản lý sản phẩm
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
  <script language="javascript" src="/javascripts/delete.js"></script>
  <script language="javascript" src="/javascripts/update.js"></script>
</head>

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <aside
    class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/argon-dashboard/pages/dashboard.html "
        target="_blank">
        <img src="images/logos/logo.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">iTech</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link " href="/home">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Trang chủ</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/categories">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Loại sản phẩm</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/brands">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Thương hiệu</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link  " href="/products">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Sản phẩm</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/sub-product">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-collection text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Chi tiết sản phẩm</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/customers">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Khách hàng</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active " href="/orders">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-app text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Đơn hàng</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/profile">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Trang cá nhân</span>
          </a>
        </li>

      </ul>
    </div>
  </aside>

  <!-- Main -->
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
      data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Trang chủ</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Đơn hàng</li>
          </ol>
        </nav>
        <form action="/search" method="GET">
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <input type="hidden" name="name" value="order">
              <div class="input-group">
                <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                <input type="text" name="keyword" class="form-control" placeholder="Nhập mã đơn hàng .." onkeydown="handleEnter(event)">
              </div>
            </div>
          </div>
        </form>
        <script>
          function handleEnter(event) {
            if (event.keyCode === 13) {
              event.preventDefault();
              const keyword = event.target.value;
              window.location.href = '/search' + '?keyword=' + keyword + '&name=order';
            }
          }
        </script>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-4">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ID đơn hàng
                      </th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tổng tiền
                      </th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Trạng thái
                      </th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Thanh toán
                      </th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ngày tạo</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Người đặt
                        hàng</th>
                    </tr>
                  </thead>

                  <tbody>
                    {{#each orders}}
                    <tr>
                      <td style="align-middle text-center text-sm">
                        <span class="text-secondary text-xs font-weight-bold"
                          style="margin-top: 8px; margin-bottom: 8px;">ID:{{this._id}}</span>
                      </td>
                      <td style="align-middle text-center text-sm">
                        <span class="text-secondary text-xs font-weight-bold"
                          style="margin-top: 8px; margin-bottom: 8px;">{{this.totalPrice}} $</span>
                      </td>
                      <td style="align-middle text-center text-sm">

                        {{!-- {{#isEqual this.status 'Delivered'}}
                        <div class="d-flex px-2 py-1 justify-content-center align-items-center"
                          style="width: 90px; background-color: gold; padding: 8px; border-radius: 10px;">
                          <span class="text-secondary text-xs font-weight-bold"
                            style="margin-top: 8px; margin-bottom: 8px; color: black;">{{this.status}}</span>
                        </div>
                        {{else}}
                        <div class="d-flex px-2 py-1 justify-content-center align-items-center"
                          style="width: 90px; background-color: red; padding: 8px; border-radius: 10px;">
                          <span class="text-secondary text-xs font-weight-bold"
                            style="margin-top: 8px; margin-bottom: 8px; color: black;">{{this.status}}</span>
                        </div>

                        {{/isEqual}} --}}

                        <div id="bgStatus" class="d-flex px-2 py-1 justify-content-center align-items-center bgStatus"
                          style="width: 90px; background-color: gold; padding: 8px; border-radius: 10px;">
                          <span id="status" class=" text-xs  status"
                            style="margin-top: 8px; margin-bottom: 8px; color: white; font-weight: 800;">{{this.status}}</span>
                        </div>
                      </td>
                      <td style="align-middle text-center text-sm">
                        <span class="text-secondary text-xs font-weight-bold"
                          style="margin-top: 8px; margin-bottom: 8px;">{{this.paymentMethod}}</span>
                      </td>
                      <td style="align-middle text-center text-sm">
                        <span class="text-secondary text-xs font-weight-bold"
                          style="margin-top: 8px; margin-bottom: 8px;">{{this.dateCreate}}</span>
                      </td>
                      <td style="align-middle text-center text-sm">
                        <div class="d-flex px-2 py-1" style="align-items: center;">
                          <div>
                            <img src="{{this.avatarUser}}" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column">
                            <span class="text-secondary text-xs font-weight-bold"
                              style="margin-top: 8px; margin-bottom: 8px;">{{this.nameUser}}</span>
                            <span class="text-secondary text-xs font-weight-bold"
                              style="margin-top: 8px; margin-bottom: 8px;">{{this.phoneUser}}</span>
                          </div>
                        </div>
                      </td>

                      <td style="align-middle text-center text-sm">
                        <button onclick="gotoOrderDetail('{{this._id}}')"
                          class="btn btn-xs mb-3 mt-3 btn-outline-secondary">
                          Chi tiết
                        </button>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

  <script>
    let status = document.querySelectorAll('.status');
    let bgStatus = document.querySelectorAll('.bgStatus');

    const statuses = Array.from(status).map(span => span.textContent);

    for(let i = 0; i < statuses.length; i++) {
      if(statuses[i] === 'Delivered') {
        bgStatus[i].style.backgroundColor = 'green';
      } else if(statuses[i] === 'Processing') {
        bgStatus[i].style.backgroundColor = 'gold';
      } else if(statuses[i] === 'Shipping') {
        bgStatus[i].style.backgroundColor = 'blue';
      } else if(statuses[i] === 'Canceled') {
        bgStatus[i].style.backgroundColor = 'red';
      }
    }

  </script>

  <script>
    function gotoOrderDetail(_idOrder) {
      window.location.href = `http://localhost:3000/orders/${_idOrder}/order-detail`;
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>